:root {
  --sansfont: system-ui;
  --seriffont: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  --monofont: "SFMono-Regular", "Roboto Mono", "Source Code Pro", Menlo, Consolas, "Liberation Mono", monospace;
  --red: hsl(350, 90%, 60%);
  --orange: hsl(50, 100%, 50%);
  --yellow: hsl(60, 90%, 65%);
  --lime: hsl(80, 90%, 60%);
  --green: hsl(120, 70%, 60%);
  --teal: hsl(160, 80%, 60%);
  --cyan: hsl(190, 85%, 70%);
  --blue: hsl(220, 100%, 65%);
  --indigo: hsl(240, 70%, 60%);
  --purple: hsl(250, 70%, 60%);
  --violet: hsl(270, 70%, 60%);
  --magenta: hsl(330, 90%, 60%);
  --brown: hsl(30, 60%, 45%);
  --white: hsl(0, 0%, 98%);
  --black: hsl(0, 0%, 10%);
}

@viewport {
  width: device-width;
  initial-scale: 1;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
  /* Smooth scrolling on overflow */
  -webkit-overflow-scrolling: touch;
  /* Automatically hide scrollbars in Edge and IE10/11 */
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 100%;
  line-height: 1.25;
  font-family: var(--sansfont);
  color: var(--black);
  background-color: var(--white);
}

h1, h2, h3, h4, h5, h6, input, label, select, button, textarea {
  font-size: inherit;
}

p, li {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: currentColor;
}

a[href]:not([class]) {
  color: var(--red);
}

a:hover {
  opacity: 0.75;
}

a:active {
  opacity: initial;
}

/* Vertical margin reset (vertical rhythm) */

h1, h2, h3, h4, h5, h6, p, blockquote, dl, fieldset, figure, hr, legend, menu, ol, pre, table, ul {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* Horizontal margin reset */

blockquote, figure, fieldset {
  margin-left: 0;
  margin-right: 0;
}

blockquote>p {
  font-style: italic;
}

figcaption {
  opacity: 0.5;
}

kbd, code, samp, pre {
  font-family: var(--monofont);
}

pre {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem;
  overflow-x: auto;
}

iframe {
  border-width: 0;
}

fieldset {
  border-width: 0;
  padding: 0;
}

legend {
  padding: 0;
}

textarea {
  resize: vertical;
}

hr {
  border-top-width: 0;
  border-bottom-width: 0.0625rem;
  border-color: currentColor;
  border-style: solid;
}

img, svg, audio, video, iframe, canvas, embed, object {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

/* Tables */

table {
  border-collapse: collapse;
}

caption, th {
  text-align: left;
}

th, td {
  padding: 0.5rem;
}

th:first-of-type, td:first-of-type {
  padding-left: 0;
}

th:last-of-type, td:last-of-type {
  padding-right: 0;
}

/* Forms */

input, select, button, textarea {
  color: currentColor;
  background-color: transparent;
}

/* Placeholder text color fix for input fields: */

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: currentColor;
  opacity: 0.5;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: currentColor;
  opacity: 0.5;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: currentColor;
  opacity: 0.5;
}