:root {
  --sansfont: system-ui;
  --seriffont: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  --monofont: 'Roboto Mono', 'Source Code Pro', Menlo, Consolas, 'Liberation Mono', monospace;
  --red: hsl(350, 90%, 60%);
  --orange: hsl(50, 100%, 50%);
  --yellow: hsl(60, 90%, 65%);
  --lime: hsl(80, 90%, 60%);
  --green: hsl(120, 70%, 60%);
  --teal: hsl(160, 80%, 60%);
  --cyan: hsl(190, 85%, 70%);
  --blue: hsl(220, 100%, 65%);
  --indigo: hsl(240, 70%, 60%);
  --purple: hsl(250, 70%, 60%);
  --violet: hsl(270, 70%, 60%);
  --magenta: hsl(330, 90%, 60%);
  --brown: hsl(30, 60%, 45%);
  --white: hsl(0, 0%, 98%);
  --black: hsl(0, 0%, 15%);
}

html {
  border-style: solid;
  outline-style: solid;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--sansfont);
  -webkit-overflow-scrolling: touch;
  /* › smooth scrolling on overflow */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* › automatically hide scrollbars in Edge and IE10/11 */
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-radius: 0;
  border-style: inherit;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: currentColor;
  background-color: transparent;
  background-repeat: no-repeat;
}

body {
  font-size: 100%;
  color: var(--black);
}

audio, embed, iframe, img, input, object, video, table {
  max-width: 100%;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
}


/* Placeholder text color fix: */

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: currentColor;
  opacity: .5
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: currentColor;
  opacity: .5
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: currentColor;
  opacity: .5
}

:-moz-placeholder {
  /* Firefox 18- */
  color: currentColor;
  opacity: .5
}
