html {
    border-style: solid;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    /* › smooth scrolling on overflow */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* › automatically hide scrollbars in Edge and IE10/11 */
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-radius: 0;
    border-style: inherit;
    outline: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: currentColor;
    background-color: transparent;
    background-repeat: no-repeat;
}

body {
    min-height: 100%;
    font-size: 100%;
}

img, video, audio, iframe {
    max-width: 100%;
}

svg {
    fill: currentColor;
}

a {
    text-decoration: none;
}
