.bgc\:red {
  background-color: var(--red)
}

.bgc\:orange {
  background-color: var(--orange)
}

.bgc\:yellow {
  background-color: var(--yellow)
}

.bgc\:lime {
  background-color: var(--lime)
}

.bgc\:green {
  background-color: var(--green)
}

.bgc\:teal {
  background-color: var(--teal)
}

.bgc\:cyan {
  background-color: var(--cyan)
}

.bgc\:blue {
  background-color: var(--blue)
}

.bgc\:indigo {
  background-color: var(--indigo)
}

.bgc\:purple {
  background-color: var(--purple)
}

.bgc\:violet {
  background-color: var(--violet)
}

.bgc\:magenta {
  background-color: var(--magenta)
}

.bgc\:brown {
  background-color: var(--brown)
}

.bgc\:t {
  background-color: transparent
}

.bgc\:w {
  background-color: var(--white)
}

.bgc\:w\:xl {
  background-color: color(var(--white) a(.875))
}

.bgc\:w\:l {
  background-color: color(var(--white) a(.75))
}

.bgc\:w\:m {
  background-color: color(var(--white) a(.5))
}

.bgc\:w\:s {
  background-color: color(var(--white) a(.25))
}

.bgc\:w\:xs {
  background-color: color(var(--white) a(.125))
}

.bgc\:b {
  background-color: var(--black)
}

.bgc\:b\:xl {
  background-color: color(var(--black) a(.875))
}

.bgc\:b\:l {
  background-color: color(var(--black) a(.75))
}

.bgc\:b\:m {
  background-color: color(var(--black) a(.5))
}

.bgc\:b\:s {
  background-color: color(var(--black) a(.25))
}

.bgc\:b\:xs {
  background-color: color(var(--black) a(.125))
}

.bgc\:b\:xxs {
  background-color: color(var(--black) a(.0625))
}
