.bgc\:red {
    background-color: hsl(350, 90%, 60%)
}

.bgc\:orange {
    background-color: hsl(50, 100%, 50%)
}

.bgc\:yellow {
    background-color: hsl(60, 90%, 65%)
}

.bgc\:lime {
    background-color: hsl(80, 90%, 60%)
}

.bgc\:green {
    background-color: hsl(120, 70%, 60%)
}

.bgc\:teal {
    background-color: hsl(160, 80%, 60%)
}

.bgc\:cyan {
    background-color: hsl(190, 85%, 70%)
}

.bgc\:blue {
    background-color: hsl(220, 100%, 65%)
}

.bgc\:indigo {
    background-color: hsl(240, 70%, 60%)
}

.bgc\:purple {
    background-color: hsl(270, 70%, 60%)
}

.bgc\:rose {
    background-color: hsl(300, 85%, 75%)
}

.bgc\:pink {
    background-color: hsl(330, 90%, 60%)
}

.bgc\:brown {
    background-color: hsl(30, 60%, 45%)
}

.bgc\:t {
    background-color: transparent
}

.bgc\:w {
    background-color: hsl(0, 0%, 98%)
}

.bgc\:w\.9 {
    background-color: hsla(0, 0%, 98%, .9)
}

.bgc\:w\.8 {
    background-color: hsla(0, 0%, 98%, .8)
}

.bgc\:w\.7 {
    background-color: hsla(0, 0%, 98%, .7)
}

.bgc\:w\.6 {
    background-color: hsla(0, 0%, 98%, .6)
}

.bgc\:w\.5 {
    background-color: hsla(0, 0%, 98%, .5)
}

.bgc\:w\.4 {
    background-color: hsla(0, 0%, 98%, .4)
}

.bgc\:w\.3 {
    background-color: hsla(0, 0%, 98%, .3)
}

.bgc\:w\.2 {
    background-color: hsla(0, 0%, 98%, .2)
}

.bgc\:w\.1 {
    background-color: hsla(0, 0%, 98%, .1)
}

.bgc\:b {
    background-color: hsl(0, 0%, 15%)
}

.bgc\:b\.9 {
    background-color: hsla(0, 0%, 15%, .9)
}

.bgc\:b\.8 {
    background-color: hsla(0, 0%, 15%, .8)
}

.bgc\:b\.7 {
    background-color: hsla(0, 0%, 15%, .7)
}

.bgc\:b\.6 {
    background-color: hsla(0, 0%, 15%, .6)
}

.bgc\:b\.5 {
    background-color: hsla(0, 0%, 15%, .5)
}

.bgc\:b\.4 {
    background-color: hsla(0, 0%, 15%, .4)
}

.bgc\:b\.3 {
    background-color: hsla(0, 0%, 15%, .3)
}

.bgc\:b\.2 {
    background-color: hsla(0, 0%, 15%, .2)
}

.bgc\:b\.1 {
    background-color: hsla(0, 0%, 15%, .1)
}

.bgc\:b\.05 {
    background-color: hsla(0, 0%, 15%, .05)
}

.bgc\:b\.025 {
    background-color: hsla(0, 0%, 15%, .025)
}
