.bgc\:red {
    background-color: var(--red)
}

.bgc\:orange {
    background-color: var(--orange)
}

.bgc\:yellow {
    background-color: var(--yellow)
}

.bgc\:lime {
    background-color: var(--lime)
}

.bgc\:green {
    background-color: var(--green)
}

.bgc\:teal {
    background-color: var(--teal)
}

.bgc\:cyan {
    background-color: var(--cyan)
}

.bgc\:blue {
    background-color: var(--blue)
}

.bgc\:indigo {
    background-color: var(--indigo)
}

.bgc\:purple {
    background-color: var(--purple)
}

.bgc\:violet {
    background-color: var(--violet)
}

.bgc\:magenta {
    background-color: var(--magenta)
}

.bgc\:brown {
    background-color: var(--brown)
}

.bgc\:t {
    background-color: transparent
}

.bgc\:w {
    background-color: var(--white)
}

.bgc\:w\.9 {
    background-color: color(var(--white) a(.9))
}

.bgc\:w\.8 {
    background-color: color(var(--white) a(.8))
}

.bgc\:w\.7 {
    background-color: color(var(--white) a(.7))
}

.bgc\:w\.6 {
    background-color: color(var(--white) a(.6))
}

.bgc\:w\.5 {
    background-color: color(var(--white) a(.5))
}

.bgc\:w\.4 {
    background-color: color(var(--white) a(.4))
}

.bgc\:w\.3 {
    background-color: color(var(--white) a(.3))
}

.bgc\:w\.2 {
    background-color: color(var(--white) a(.2))
}

.bgc\:w\.1 {
    background-color: color(var(--white) a(.1))
}

.bgc\:b {
    background-color: var(--black)
}

.bgc\:b\.9 {
    background-color: color(var(--black) a(.9))
}

.bgc\:b\.8 {
    background-color: color(var(--black) a(.8))
}

.bgc\:b\.7 {
    background-color: color(var(--black) a(.7))
}

.bgc\:b\.6 {
    background-color: color(var(--black) a(.6))
}

.bgc\:b\.5 {
    background-color: color(var(--black) a(.5))
}

.bgc\:b\.4 {
    background-color: color(var(--black) a(.4))
}

.bgc\:b\.3 {
    background-color: color(var(--black) a(.3))
}

.bgc\:b\.2 {
    background-color: color(var(--black) a(.2))
}

.bgc\:b\.1 {
    background-color: color(var(--black) a(.1))
}

.bgc\:b\.05 {
    background-color: color(var(--black) a(.05))
}

.bgc\:b\.025 {
    background-color: color(var(--black) a(.025))
}
