.bc\:red {
  border-color: var(--red)
}

.bc\:orange {
  border-color: var(--orange)
}

.bc\:yellow {
  border-color: var(--yellow)
}

.bc\:lime {
  border-color: var(--lime)
}

.bc\:green {
  border-color: var(--green)
}

.bc\:teal {
  border-color: var(--teal)
}

.bc\:cyan {
  border-color: var(--cyan)
}

.bc\:blue {
  border-color: var(--blue)
}

.bc\:indigo {
  border-color: var(--indigo)
}

.bc\:purple {
  border-color: var(--purple)
}

.bc\:violet {
  border-color: var(--violet)
}

.bc\:magenta {
  border-color: var(--magenta)
}

.bc\:brown {
  border-color: var(--brown)
}

.bc\:t {
  border-color: transparent
}

.bc\:w {
  border-color: var(--white)
}

.bc\:w\.9 {
  border-color: color(var(--white) a(.9))
}

.bc\:w\.8 {
  border-color: color(var(--white) a(.8))
}

.bc\:w\.7 {
  border-color: color(var(--white) a(.7))
}

.bc\:w\.6 {
  border-color: color(var(--white) a(.6))
}

.bc\:w\.5 {
  border-color: color(var(--white) a(.5))
}

.bc\:w\.4 {
  border-color: color(var(--white) a(.4))
}

.bc\:w\.3 {
  border-color: color(var(--white) a(.3))
}

.bc\:w\.2 {
  border-color: color(var(--white) a(.2))
}

.bc\:w\.1 {
  border-color: color(var(--white) a(.1))
}

.bc\:b {
  border-color: var(--black)
}

.bc\:b\.9 {
  border-color: color(var(--black) a(.9))
}

.bc\:b\.8 {
  border-color: color(var(--black) a(.8))
}

.bc\:b\.7 {
  border-color: color(var(--black) a(.7))
}

.bc\:b\.6 {
  border-color: color(var(--black) a(.6))
}

.bc\:b\.5 {
  border-color: color(var(--black) a(.5))
}

.bc\:b\.4 {
  border-color: color(var(--black) a(.4))
}

.bc\:b\.3 {
  border-color: color(var(--black) a(.3))
}

.bc\:b\.2 {
  border-color: color(var(--black) a(.2))
}

.bc\:b\.1 {
  border-color: color(var(--black) a(.1))
}
