.bc\:red {
  border-color: var(--red)
}

.bc\:orange {
  border-color: var(--orange)
}

.bc\:yellow {
  border-color: var(--yellow)
}

.bc\:lime {
  border-color: var(--lime)
}

.bc\:green {
  border-color: var(--green)
}

.bc\:teal {
  border-color: var(--teal)
}

.bc\:cyan {
  border-color: var(--cyan)
}

.bc\:blue {
  border-color: var(--blue)
}

.bc\:indigo {
  border-color: var(--indigo)
}

.bc\:purple {
  border-color: var(--purple)
}

.bc\:violet {
  border-color: var(--violet)
}

.bc\:magenta {
  border-color: var(--magenta)
}

.bc\:brown {
  border-color: var(--brown)
}

.bc\:t {
  border-color: transparent
}

.bc\:w {
  border-color: var(--white)
}

.bc\:w\:xl {
  border-color: color(var(--white) a(.875))
}

.bc\:w\:l {
  border-color: color(var(--white) a(.75))
}

.bc\:w\:m {
  border-color: color(var(--white) a(.5))
}

.bc\:w\:s {
  border-color: color(var(--white) a(.25))
}

.bc\:w\:xs {
  border-color: color(var(--white) a(.125))
}

.bc\:b {
  border-color: var(--black)
}

.bc\:b\:xl {
  border-color: color(var(--black) a(.875))
}

.bc\:b\:l {
  border-color: color(var(--black) a(.75))
}

.bc\:b\:m {
  border-color: color(var(--black) a(.5))
}

.bc\:b\:s {
  border-color: color(var(--black) a(.25))
}

.bc\:b\:xs {
  border-color: color(var(--black) a(.125))
}
