.bc\:red {
    border-color: hsl(350, 90%, 60%)
}

.bc\:orange {
    border-color: hsl(50, 100%, 50%)
}

.bc\:yellow {
    border-color: hsl(60, 90%, 65%)
}

.bc\:lime {
    border-color: hsl(80, 90%, 60%)
}

.bc\:green {
    border-color: hsl(120, 70%, 60%)
}

.bc\:teal {
    border-color: hsl(160, 80%, 60%)
}

.bc\:cyan {
    border-color: hsl(190, 85%, 70%)
}

.bc\:blue {
    border-color: hsl(220, 100%, 65%)
}

.bc\:indigo {
    border-color: hsl(240, 70%, 60%)
}

.bc\:purple {
    border-color: hsl(270, 70%, 60%)
}

.bc\:rose {
    border-color: hsl(300, 85%, 75%)
}

.bc\:pink {
    border-color: hsl(330, 90%, 60%)
}

.bc\:brown {
    border-color: hsl(30, 60%, 45%)
}

.bc\:t {
    border-color: transparent
}

.bc\:w {
    border-color: hsl(0, 0%, 98%)
}

.bc\:w\.9 {
    border-color: hsla(0, 0%, 98%, .9)
}

.bc\:w\.8 {
    border-color: hsla(0, 0%, 98%, .8)
}

.bc\:w\.7 {
    border-color: hsla(0, 0%, 98%, .7)
}

.bc\:w\.6 {
    border-color: hsla(0, 0%, 98%, .6)
}

.bc\:w\.5 {
    border-color: hsla(0, 0%, 98%, .5)
}

.bc\:w\.4 {
    border-color: hsla(0, 0%, 98%, .4)
}

.bc\:w\.3 {
    border-color: hsla(0, 0%, 98%, .3)
}

.bc\:w\.2 {
    border-color: hsla(0, 0%, 98%, .2)
}

.bc\:w\.1 {
    border-color: hsla(0, 0%, 98%, .1)
}

.bc\:b {
    border-color: hsl(0, 0%, 15%)
}

.bc\:b\.9 {
    border-color: hsla(0, 0%, 15%, .9)
}

.bc\:b\.8 {
    border-color: hsla(0, 0%, 15%, .8)
}

.bc\:b\.7 {
    border-color: hsla(0, 0%, 15%, .7)
}

.bc\:b\.6 {
    border-color: hsla(0, 0%, 15%, .6)
}

.bc\:b\.5 {
    border-color: hsla(0, 0%, 15%, .5)
}

.bc\:b\.4 {
    border-color: hsla(0, 0%, 15%, .4)
}

.bc\:b\.3 {
    border-color: hsla(0, 0%, 15%, .3)
}

.bc\:b\.2 {
    border-color: hsla(0, 0%, 15%, .2)
}

.bc\:b\.1 {
    border-color: hsla(0, 0%, 15%, .1)
}

.bc\:b\.05 {
    border-color: hsla(0, 0%, 15%, .05)
}

.bc\:b\.025 {
    border-color: hsla(0, 0%, 15%, .025)
}
