.br\:xs {
  border-radius: .25rem
}

.br\:s {
  border-radius: .5rem
}

.br\:m {
  border-radius: 1rem
}

.br\:l {
  border-radius: 2rem
}

.br\:xl {
  border-radius: 100%
}

.br\:0 {
  border-radius: 0
}

.btlr\:0 {
  border-top-left-radius: 0
}

.btrr\:0 {
  border-top-right-radius: 0
}

.bblr\:0 {
  border-bottom-left-radius: 0
}

.bbrr\:0 {
  border-bottom-right-radius: 0
}

.blr\:0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.brr\:0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}
