.br\:\.25r {
  border-radius: .25rem
}

.br\:\.5r {
  border-radius: .5rem
}

.br\:1r {
  border-radius: 1rem
}

.br\:2r {
  border-radius: 2rem
}

.br\:100\% {
  border-radius: 100%
}

.btlr\:0 {
  border-top-left-radius: 0
}

.btrr\:0 {
  border-top-right-radius: 0
}

.bblr\:0 {
  border-bottom-left-radius: 0
}

.bbrr\:0 {
  border-bottom-right-radius: 0
}

.blr\:0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.brr\:0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}
