.b\:-xl {
  bottom: -8rem
}

.b\:-l {
  bottom: -4rem
}

.b\:-m {
  bottom: -2rem
}

.b\:-s {
  bottom: -1rem
}

.b\:-xs {
  bottom: -.5rem
}

.b\:0 {
  bottom: 0
}

.b\:xs {
  bottom: .5rem
}

.b\:s {
  bottom: 1rem
}

.b\:m {
  bottom: 2rem
}

.b\:l {
  bottom: 4rem
}

.b\:xl {
  bottom: 8rem
}
