.bs\:\.0625r {
    box-shadow: 0 .0625rem .0625rem 0 hsla(0, 0%, 0%, .25)
}

.bs\:\.125r {
    box-shadow: 0 .0625rem .125rem 0 hsla(0, 0%, 0%, .25)
}

.bs\:\.25r {
    box-shadow: 0 .0625rem .25rem 0 hsla(0, 0%, 0%, .25)
}

.bs\:\.5r {
    box-shadow: 0 .0625rem .5rem 0 hsla(0, 0%, 0%, .25)
}

.bs\:1r {
    box-shadow: 0 .0625rem 1rem 0 hsla(0, 0%, 0%, .25)
}
