.bs\:\.0625r\:h:hover {
    box-shadow: 0 .0625rem .0625rem 0 hsla(0, 0%, 0%, .125)
}

.bs\:\.125r\:h:hover {
    box-shadow: 0 .0625rem .125rem 0 hsla(0, 0%, 0%, .125)
}

.bs\:\.25r\:h:hover {
    box-shadow: 0 .0625rem .25rem 0 hsla(0, 0%, 0%, .125)
}

.bs\:\.5r\:h:hover {
    box-shadow: 0 .0625rem .5rem 0 hsla(0, 0%, 0%, .125)
}

.bs\:1r\:h:hover {
    box-shadow: 0 .0625rem 1rem 0 hsla(0, 0%, 0%, .125)
}
