.c\:red {
    color: hsl(350, 90%, 60%)
}

.c\:orange {
    color: hsl(50, 100%, 50%)
}

.c\:yellow {
    color: hsl(60, 90%, 65%)
}

.c\:lime {
    color: hsl(80, 90%, 60%)
}

.c\:green {
    color: hsl(120, 70%, 60%)
}

.c\:teal {
    color: hsl(160, 80%, 60%)
}

.c\:cyan {
    color: hsl(190, 85%, 70%)
}

.c\:blue {
    color: hsl(220, 100%, 65%)
}

.c\:indigo {
    color: hsl(240, 70%, 60%)
}

.c\:purple {
    color: hsl(270, 70%, 60%)
}

.c\:rose {
    color: hsl(300, 85%, 75%)
}

.c\:pink {
    color: hsl(330, 90%, 60%)
}

.c\:t {
    color: transparent
}

.c\:w {
    color: hsl(0, 0%, 98%)
}

.c\:w\.9 {
    color: hsla(0, 0%, 98%, .9)
}

.c\:w\.8 {
    color: hsla(0, 0%, 98%, .8)
}

.c\:w\.7 {
    color: hsla(0, 0%, 98%, .7)
}

.c\:w\.6 {
    color: hsla(0, 0%, 98%, .6)
}

.c\:w\.5 {
    color: hsla(0, 0%, 98%, .5)
}

.c\:w\.4 {
    color: hsla(0, 0%, 98%, .4)
}

.c\:w\.3 {
    color: hsla(0, 0%, 98%, .3)
}

.c\:w\.2 {
    color: hsla(0, 0%, 98%, .2)
}

.c\:w\.1 {
    color: hsla(0, 0%, 98%, .1)
}

.c\:b {
    color: hsl(0, 0%, 15%)
}

.c\:b\.9 {
    color: hsla(0, 0%, 15%, .9)
}

.c\:b\.8 {
    color: hsla(0, 0%, 15%, .8)
}

.c\:b\.7 {
    color: hsla(0, 0%, 15%, .7)
}

.c\:b\.6 {
    color: hsla(0, 0%, 15%, .6)
}

.c\:b\.5 {
    color: hsla(0, 0%, 15%, .5)
}

.c\:b\.4 {
    color: hsla(0, 0%, 15%, .4)
}

.c\:b\.3 {
    color: hsla(0, 0%, 15%, .3)
}

.c\:b\.2 {
    color: hsla(0, 0%, 15%, .2)
}

.c\:b\.1 {
    color: hsla(0, 0%, 15%, .1)
}

.c\:b\.05 {
    color: hsla(0, 0%, 15%, .05)
}

.c\:b\.025 {
    color: hsla(0, 0%, 15%, .025)
}
