.c\:red {
  color: var(--red)
}

.c\:orange {
  color: var(--orange)
}

.c\:yellow {
  color: var(--yellow)
}

.c\:lime {
  color: var(--lime)
}

.c\:green {
  color: var(--green)
}

.c\:teal {
  color: var(--teal)
}

.c\:cyan {
  color: var(--cyan)
}

.c\:blue {
  color: var(--blue)
}

.c\:indigo {
  color: var(--indigo)
}

.c\:purple {
  color: var(--purple)
}

.c\:violet {
  color: var(--violet)
}

.c\:magenta {
  color: var(--magenta)
}

.c\:brown {
  color: var(--brown)
}

.c\:t {
  color: transparent
}

.c\:w {
  color: var(--white)
}

.c\:w\:xl {
  color: color(var(--white) a(.875))
}

.c\:w\:l {
  color: color(var(--white) a(.75))
}

.c\:w\:m {
  color: color(var(--white) a(.5))
}

.c\:w\:s {
  color: color(var(--white) a(.25))
}

.c\:w\:xs {
  color: color(var(--white) a(.125))
}

.c\:b {
  color: var(--black)
}

.c\:b\:xl {
  color: color(var(--black) a(.875))
}

.c\:b\:l {
  color: color(var(--black) a(.75))
}

.c\:b\:m {
  color: color(var(--black) a(.5))
}

.c\:b\:s {
  color: color(var(--black) a(.25))
}

.c\:b\:xs {
  color: color(var(--black) a(.125))
}
