.fs\:xs {
  font-size: .875rem
}

.fs\:s {
  font-size: 1rem
}

.fs\:m {
  font-size: 1.5rem
}

.fs\:l {
  font-size: 2rem
}

.fs\:xl {
  font-size: 4rem
}

.fs\:xxl {
  font-size: 8rem
}

@media screen and (min-width: 40rem) {
  .fs\:xs\@M {
    font-size: .875rem
  }
  .fs\:s\@M {
    font-size: 1rem
  }
  .fs\:m\@M {
    font-size: 1.5rem
  }
  .fs\:l\@M {
    font-size: 2rem
  }
  .fs\:xl\@M {
    font-size: 4rem
  }
  .fs\:xxl\@M {
    font-size: 8rem
  }
}

@media screen and (min-width: 80rem) {
  .fs\:xs\@L {
    font-size: .875rem
  }
  .fs\:s\@L {
    font-size: 1rem
  }
  .fs\:m\@L {
    font-size: 1.5rem
  }
  .fs\:l\@L {
    font-size: 2rem
  }
  .fs\:xl\@L {
    font-size: 4rem
  }
  .fs\:xxl\@L {
    font-size: 8rem
  }
}

@media screen and (min-width: 120rem) {
  .fs\:xs\@XL {
    font-size: .875rem
  }
  .fs\:s\@XL {
    font-size: 1rem
  }
  .fs\:m\@XL {
    font-size: 1.5rem
  }
  .fs\:l\@XL {
    font-size: 2rem
  }
  .fs\:xl\@XL {
    font-size: 4rem
  }
  .fs\:xxl\@XL {
    font-size: 8rem
  }
}
