.jc\:fs {
  justify-content: flex-start
}

.jc\:c {
  justify-content: center
}

.jc\:fe {
  justify-content: flex-end
}

.jc\:sa {
  justify-content: space-around
}

.jc\:sb {
  justify-content: space-between
}
