.l\:-xl {
  left: -8rem
}

.l\:-l {
  left: -4rem
}

.l\:-m {
  left: -2rem
}

.l\:-s {
  left: -1rem
}

.l\:-xs {
  left: -.5rem
}

.l\:0 {
  left: 0
}

.l\:xs {
  left: .5rem
}

.l\:s {
  left: 1rem
}

.l\:m {
  left: 2rem
}

.l\:l {
  left: 4rem
}

.l\:xl {
  left: 8rem
}
