.l\:-4r {
  left: -4rem
}

.l\:-2r {
  left: -2rem
}

.l\:-1r {
  left: -1rem
}

.l\:-\.5r {
  left: -.5rem
}

.l\:-\.25r {
  left: -.25rem
}

.l\:0 {
  left: 0
}

.l\:\.25r {
  left: .25rem
}

.l\:\.5r {
  left: .5rem
}

.l\:1r {
  left: 1rem
}

.l\:2r {
  left: 2rem
}

.l\:4r {
  left: 4rem
}
