.ls\:-\.0625e {
    letter-spacing: -.0625em
}

.ls\:n {
    letter-spacing: normal
}

.ls\:\.0625e {
    letter-spacing: .0625em
}

.ls\:\.125e {
    letter-spacing: .125em
}

.ls\:\.25e {
    letter-spacing: .25em
}

.ls\:\.5e {
    letter-spacing: .5em
}

.ls\:1e {
    letter-spacing: 1em
}
