.lh\:0 {
  line-height: 0
}

.lh\:xs {
  line-height: 1
}

.lh\:s {
  line-height: 1.125
}

.lh\:m {
  line-height: 1.25
}

.lh\:l {
  line-height: 1.5
}

.lh\:xl {
  line-height: 1.75
}

@media screen and (min-width: 40rem) {
  .lh\:0\@M {
    line-height: 0
  }
  .lh\:xs\@M {
    line-height: 1
  }
  .lh\:s\@M {
    line-height: 1.125
  }
  .lh\:m\@M {
    line-height: 1.25
  }
  .lh\:l\@M {
    line-height: 1.5
  }
  .lh\:xl\@M {
    line-height: 1.75
  }
}

@media screen and (min-width: 80rem) {
  .lh\:0\@L {
    line-height: 0
  }
  .lh\:xs\@L {
    line-height: 1
  }
  .lh\:s\@L {
    line-height: 1.125
  }
  .lh\:m\@L {
    line-height: 1.25
  }
  .lh\:l\@L {
    line-height: 1.5
  }
  .lh\:xl\@L {
    line-height: 1.75
  }
}

@media screen and (min-width: 120rem) {
  .lh\:0\@XL {
    line-height: 0
  }
  .lh\:xs\@XL {
    line-height: 1
  }
  .lh\:s\@XL {
    line-height: 1.125
  }
  .lh\:m\@XL {
    line-height: 1.25
  }
  .lh\:l\@XL {
    line-height: 1.5
  }
  .lh\:xl\@XL {
    line-height: 1.75
  }
}
