.lst\:n {
  list-style-type: none
}


/* dot */

.lst\:d {
  list-style-type: none
}

.lst\:d li::before {
  content: "\00B7";
  margin-right: .25em;
}


/* checkmark */

.lst\:c {
  list-style-type: none
}

.lst\:c li::before {
  content: "\2713";
  margin-right: .25em;
}
