.mr\>\*\:a>* {
  margin-right: auto
}

.ml\>\*\:a>* {
  margin-left: auto
}

.m\>\*\:0>* {
  margin: 0
}

.mt\>\*\:0>* {
  margin-top: 0
}

.mr\>\*\:0>* {
  margin-right: 0
}

.mb\>\*\:0>* {
  margin-bottom: 0
}

.ml\>\*\:0>* {
  margin-left: 0
}

.m\>\*\:\xs>* {
  margin: .25rem
}

.mt\>\*\:\xs>* {
  margin-top: .25rem
}

.mr\>\*\:\xs>* {
  margin-right: .25rem
}

.mb\>\*\:\xs>* {
  margin-bottom: .25rem
}

.ml\>\*\:\xs>* {
  margin-left: .25rem
}

.m\>\*\:\s>* {
  margin: .5rem
}

.mt\>\*\:\s>* {
  margin-top: .5rem
}

.mr\>\*\:\s>* {
  margin-right: .5rem
}

.mb\>\*\:\s>* {
  margin-bottom: .5rem
}

.ml\>\*\:\s>* {
  margin-left: .5rem
}

.m\>\*\:m>* {
  margin: 1rem
}

.mt\>\*\:m>* {
  margin-top: 1rem
}

.mr\>\*\:m>* {
  margin-right: 1rem
}

.mb\>\*\:m>* {
  margin-bottom: 1rem
}

.ml\>\*\:m>* {
  margin-left: 1rem
}

.m\>\*\:l>* {
  margin: 2rem
}

.mt\>\*\:l>* {
  margin-top: 2rem
}

.mr\>\*\:l>* {
  margin-right: 2rem
}

.mb\>\*\:l>* {
  margin-bottom: 2rem
}

.ml\>\*\:l>* {
  margin-left: 2rem
}

.m\>\*\:xl>* {
  margin: 4rem
}

.mt\>\*\:xl>* {
  margin-top: 4rem
}

.mr\>\*\:xl>* {
  margin-right: 4rem
}

.mb\>\*\:xl>* {
  margin-bottom: 4rem
}

.ml\>\*\:xl>* {
  margin-left: 4rem
}

@media screen and (min-width: 40rem) {
  .mr\>\*\:a\@M>* {
    margin-right: auto
  }
  .ml\>\*\:a\@M>* {
    margin-left: auto
  }
  .m\>\*\:0\@M>* {
    margin: 0
  }
  .mt\>\*\:0\@M>* {
    margin-top: 0
  }
  .mr\>\*\:0\@M>* {
    margin-right: 0
  }
  .mb\>\*\:0\@M>* {
    margin-bottom: 0
  }
  .ml\>\*\:0\@M>* {
    margin-left: 0
  }
  .m\>\*\:\xs\@M>* {
    margin: .25rem
  }
  .mt\>\*\:\xs\@M>* {
    margin-top: .25rem
  }
  .mr\>\*\:\xs\@M>* {
    margin-right: .25rem
  }
  .mb\>\*\:\xs\@M>* {
    margin-bottom: .25rem
  }
  .ml\>\*\:\xs\@M>* {
    margin-left: .25rem
  }
  .m\>\*\:\s\@M>* {
    margin: .5rem
  }
  .mt\>\*\:\s\@M>* {
    margin-top: .5rem
  }
  .mr\>\*\:\s\@M>* {
    margin-right: .5rem
  }
  .mb\>\*\:\s\@M>* {
    margin-bottom: .5rem
  }
  .ml\>\*\:\s\@M>* {
    margin-left: .5rem
  }
  .m\>\*\:m\@M>* {
    margin: 1rem
  }
  .mt\>\*\:m\@M>* {
    margin-top: 1rem
  }
  .mr\>\*\:m\@M>* {
    margin-right: 1rem
  }
  .mb\>\*\:m\@M>* {
    margin-bottom: 1rem
  }
  .ml\>\*\:m\@M>* {
    margin-left: 1rem
  }
  .m\>\*\:l\@M>* {
    margin: 2rem
  }
  .mt\>\*\:l\@M>* {
    margin-top: 2rem
  }
  .mr\>\*\:l\@M>* {
    margin-right: 2rem
  }
  .mb\>\*\:l\@M>* {
    margin-bottom: 2rem
  }
  .ml\>\*\:l\@M>* {
    margin-left: 2rem
  }
  .m\>\*\:xl\@M>* {
    margin: 4rem
  }
  .mt\>\*\:xl\@M>* {
    margin-top: 4rem
  }
  .mr\>\*\:xl\@M>* {
    margin-right: 4rem
  }
  .mb\>\*\:xl\@M>* {
    margin-bottom: 4rem
  }
  .ml\>\*\:xl\@M>* {
    margin-left: 4rem
  }
}

@media screen and (min-width: 80rem) {
  .mr\>\*\:a\@L>* {
    margin-right: auto
  }
  .ml\>\*\:a\@L>* {
    margin-left: auto
  }
  .m\>\*\:0\@L>* {
    margin: 0
  }
  .mt\>\*\:0\@L>* {
    margin-top: 0
  }
  .mr\>\*\:0\@L>* {
    margin-right: 0
  }
  .mb\>\*\:0\@L>* {
    margin-bottom: 0
  }
  .ml\>\*\:0\@L>* {
    margin-left: 0
  }
  .m\>\*\:\xs\@L>* {
    margin: .25rem
  }
  .mt\>\*\:\xs\@L>* {
    margin-top: .25rem
  }
  .mr\>\*\:\xs\@L>* {
    margin-right: .25rem
  }
  .mb\>\*\:\xs\@L>* {
    margin-bottom: .25rem
  }
  .ml\>\*\:\xs\@L>* {
    margin-left: .25rem
  }
  .m\>\*\:\s\@L>* {
    margin: .5rem
  }
  .mt\>\*\:\s\@L>* {
    margin-top: .5rem
  }
  .mr\>\*\:\s\@L>* {
    margin-right: .5rem
  }
  .mb\>\*\:\s\@L>* {
    margin-bottom: .5rem
  }
  .ml\>\*\:\s\@L>* {
    margin-left: .5rem
  }
  .m\>\*\:m\@L>* {
    margin: 1rem
  }
  .mt\>\*\:m\@L>* {
    margin-top: 1rem
  }
  .mr\>\*\:m\@L>* {
    margin-right: 1rem
  }
  .mb\>\*\:m\@L>* {
    margin-bottom: 1rem
  }
  .ml\>\*\:m\@L>* {
    margin-left: 1rem
  }
  .m\>\*\:l\@L>* {
    margin: 2rem
  }
  .mt\>\*\:l\@L>* {
    margin-top: 2rem
  }
  .mr\>\*\:l\@L>* {
    margin-right: 2rem
  }
  .mb\>\*\:l\@L>* {
    margin-bottom: 2rem
  }
  .ml\>\*\:l\@L>* {
    margin-left: 2rem
  }
  .m\>\*\:xl\@L>* {
    margin: 4rem
  }
  .mt\>\*\:xl\@L>* {
    margin-top: 4rem
  }
  .mr\>\*\:xl\@L>* {
    margin-right: 4rem
  }
  .mb\>\*\:xl\@L>* {
    margin-bottom: 4rem
  }
  .ml\>\*\:xl\@L>* {
    margin-left: 4rem
  }
}

@media screen and (min-width: 120rem) {
  .mr\>\*\:a\@XL>* {
    margin-right: auto
  }
  .ml\>\*\:a\@XL>* {
    margin-left: auto
  }
  .m\>\*\:0\@XL>* {
    margin: 0
  }
  .mt\>\*\:0\@XL>* {
    margin-top: 0
  }
  .mr\>\*\:0\@XL>* {
    margin-right: 0
  }
  .mb\>\*\:0\@XL>* {
    margin-bottom: 0
  }
  .ml\>\*\:0\@XL>* {
    margin-left: 0
  }
  .m\>\*\:\xs\@XL>* {
    margin: .25rem
  }
  .mt\>\*\:\xs\@XL>* {
    margin-top: .25rem
  }
  .mr\>\*\:\xs\@XL>* {
    margin-right: .25rem
  }
  .mb\>\*\:\xs\@XL>* {
    margin-bottom: .25rem
  }
  .ml\>\*\:\xs\@XL>* {
    margin-left: .25rem
  }
  .m\>\*\:\s\@XL>* {
    margin: .5rem
  }
  .mt\>\*\:\s\@XL>* {
    margin-top: .5rem
  }
  .mr\>\*\:\s\@XL>* {
    margin-right: .5rem
  }
  .mb\>\*\:\s\@XL>* {
    margin-bottom: .5rem
  }
  .ml\>\*\:\s\@XL>* {
    margin-left: .5rem
  }
  .m\>\*\:m\@XL>* {
    margin: 1rem
  }
  .mt\>\*\:m\@XL>* {
    margin-top: 1rem
  }
  .mr\>\*\:m\@XL>* {
    margin-right: 1rem
  }
  .mb\>\*\:m\@XL>* {
    margin-bottom: 1rem
  }
  .ml\>\*\:m\@XL>* {
    margin-left: 1rem
  }
  .m\>\*\:l\@XL>* {
    margin: 2rem
  }
  .mt\>\*\:l\@XL>* {
    margin-top: 2rem
  }
  .mr\>\*\:l\@XL>* {
    margin-right: 2rem
  }
  .mb\>\*\:l\@XL>* {
    margin-bottom: 2rem
  }
  .ml\>\*\:l\@XL>* {
    margin-left: 2rem
  }
  .m\>\*\:xl\@XL>* {
    margin: 4rem
  }
  .mt\>\*\:xl\@XL>* {
    margin-top: 4rem
  }
  .mr\>\*\:xl\@XL>* {
    margin-right: 4rem
  }
  .mb\>\*\:xl\@XL>* {
    margin-bottom: 4rem
  }
  .ml\>\*\:xl\@XL>* {
    margin-left: 4rem
  }
}
