.mr_a>* {
    margin-right: auto
}

.ml_a>* {
    margin-left: auto
}

.mx_a>* {
    margin-left: auto;
    margin-right: auto
}

.m_0>* {
    margin: 0
}

.mt_0>* {
    margin-top: 0
}

.mr_0>* {
    margin-right: 0
}

.mb_0>* {
    margin-bottom: 0
}

.ml_0>* {
    margin-left: 0
}

.mx_0>* {
    margin-right: 0;
    margin-left: 0
}

.my_0>* {
    margin-top: 0;
    margin-bottom: 0
}

.m_\.25r>* {
    margin: .25rem
}

.mt_\.25r>* {
    margin-top: .25rem
}

.mr_\.25r>* {
    margin-right: .25rem
}

.mb_\.25r>* {
    margin-bottom: .25rem
}

.ml_\.25r>* {
    margin-left: .25rem
}

.mx_\.25r>* {
    margin-right: .25rem;
    margin-left: .25rem
}

.my_\.25r>* {
    margin-top: .25rem;
    margin-bottom: .25rem
}

.m_\.5r>* {
    margin: .5rem
}

.mt_\.5r>* {
    margin-top: .5rem
}

.mr_\.5r>* {
    margin-right: .5rem
}

.mb_\.5r>* {
    margin-bottom: .5rem
}

.ml_\.5r>* {
    margin-left: .5rem
}

.mx_\.5r>* {
    margin-right: .5rem;
    margin-left: .5rem
}

.my_\.5r>* {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.m_1r>* {
    margin: 1rem
}

.mt_1r>* {
    margin-top: 1rem
}

.mr_1r>* {
    margin-right: 1rem
}

.mb_1r>* {
    margin-bottom: 1rem
}

.ml_1r>* {
    margin-left: 1rem
}

.mx_1r>* {
    margin-right: 1rem;
    margin-left: 1rem
}

.my_1r>* {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.m_2r>* {
    margin: 2rem
}

.mt_2r>* {
    margin-top: 2rem
}

.mr_2r>* {
    margin-right: 2rem
}

.mb_2r>* {
    margin-bottom: 2rem
}

.ml_2r>* {
    margin-left: 2rem
}

.mx_2r>* {
    margin-right: 2rem;
    margin-left: 2rem
}

.my_2r>* {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.m_4r>* {
    margin: 4rem
}

.mt_4r>* {
    margin-top: 4rem
}

.mr_4r>* {
    margin-right: 4rem
}

.mb_4r>* {
    margin-bottom: 4rem
}

.ml_4r>* {
    margin-left: 4rem
}

.mx_4r>* {
    margin-right: 4rem;
    margin-left: 4rem
}

.my_4r>* {
    margin-top: 4rem;
    margin-bottom: 4rem
}

.m_8r>* {
    margin: 8rem
}

.mt_8r>* {
    margin-top: 8rem
}

.mr_8r>* {
    margin-right: 8rem
}

.mb_8r>* {
    margin-bottom: 8rem
}

.ml_8r>* {
    margin-left: 8rem
}

.mx_8r>* {
    margin-right: 8rem;
    margin-left: 8rem
}

.my_8r>* {
    margin-top: 8rem;
    margin-bottom: 8rem
}

.my_8r>* {
    margin-top: 8rem;
    margin-bottom: 8rem
}

.m_16r>* {
    margin: 16rem
}

.mt_16r>* {
    margin-top: 16rem
}

.mr_16r>* {
    margin-right: 16rem
}

.mb_16r>* {
    margin-bottom: 16rem
}

.ml_16r>* {
    margin-left: 16rem
}

.mx_16r>* {
    margin-right: 16rem;
    margin-left: 16rem
}

.my_16r>* {
    margin-top: 16rem;
    margin-bottom: 16rem
}

.my_16r>* {
    margin-top: 16rem;
    margin-bottom: 16rem
}

@media screen and (min-width: 40rem)>* {
    .mr_a\@md >* {
        margin-right: auto
    }
    .ml_a\@md >* {
        margin-left: auto
    }
    .mx_a\@md >* {
        margin-left: auto;
        margin-right: auto
    }
    .m_0\@md >* {
        margin: 0
    }
    .mt_0\@md >* {
        margin-top: 0
    }
    .mr_0\@md >* {
        margin-right: 0
    }
    .mb_0\@md >* {
        margin-bottom: 0
    }
    .ml_0\@md >* {
        margin-left: 0
    }
    .mx_0\@md >* {
        margin-right: 0;
        margin-left: 0
    }
    .my_0\@md >* {
        margin-top: 0;
        margin-bottom: 0
    }
    .m_\.25r\@md >* {
        margin: .25rem
    }
    .mt_\.25r\@md >* {
        margin-top: .25rem
    }
    .mr_\.25r\@md >* {
        margin-right: .25rem
    }
    .mb_\.25r\@md >* {
        margin-bottom: .25rem
    }
    .ml_\.25r\@md >* {
        margin-left: .25rem
    }
    .mx_\.25r\@md >* {
        margin-right: .25rem;
        margin-left: .25rem
    }
    .my_\.25r\@md >* {
        margin-top: .25rem;
        margin-bottom: .25rem
    }
    .m_\.5r\@md >* {
        margin: .5rem
    }
    .mt_\.5r\@md >* {
        margin-top: .5rem
    }
    .mr_\.5r\@md >* {
        margin-right: .5rem
    }
    .mb_\.5r\@md >* {
        margin-bottom: .5rem
    }
    .ml_\.5r\@md >* {
        margin-left: .5rem
    }
    .mx_\.5r\@md >* {
        margin-right: .5rem;
        margin-left: .5rem
    }
    .my_\.5r\@md >* {
        margin-top: .5rem;
        margin-bottom: .5rem
    }
    .m_1r\@md >* {
        margin: 1rem
    }
    .mt_1r\@md >* {
        margin-top: 1rem
    }
    .mr_1r\@md >* {
        margin-right: 1rem
    }
    .mb_1r\@md >* {
        margin-bottom: 1rem
    }
    .ml_1r\@md >* {
        margin-left: 1rem
    }
    .mx_1r\@md >* {
        margin-right: 1rem;
        margin-left: 1rem
    }
    .my_1r\@md >* {
        margin-top: 1rem;
        margin-bottom: 1rem
    }
    .m_2r\@md >* {
        margin: 2rem
    }
    .mt_2r\@md >* {
        margin-top: 2rem
    }
    .mr_2r\@md >* {
        margin-right: 2rem
    }
    .mb_2r\@md >* {
        margin-bottom: 2rem
    }
    .ml_2r\@md >* {
        margin-left: 2rem
    }
    .mx_2r\@md >* {
        margin-right: 2rem;
        margin-left: 2rem
    }
    .mx_2r\@md >* {
        margin-top: 2rem;
        margin-bottom: 2rem
    }
    .m_4r\@md >* {
        margin: 4rem
    }
    .mt_4r\@md >* {
        margin-top: 4rem
    }
    .mr_4r\@md >* {
        margin-right: 4rem
    }
    .mb_4r\@md >* {
        margin-bottom: 4rem
    }
    .ml_4r\@md >* {
        margin-left: 4rem
    }
    .mx_4r\@md >* {
        margin-right: 4rem;
        margin-left: 4rem
    }
    .my_4r\@md >* {
        margin-top: 4rem;
        margin-bottom: 4rem
    }
    .m_8r\@md >* {
        margin: 8rem
    }
    .mt_8r\@md >* {
        margin-top: 8rem
    }
    .mr_8r\@md >* {
        margin-right: 8rem
    }
    .mb_8r\@md >* {
        margin-bottom: 8rem
    }
    .ml_8r\@md >* {
        margin-left: 8rem
    }
    .mx_8r\@md >* {
        margin-right: 8rem;
        margin-left: 8rem
    }
    .my_8r\@md >* {
        margin-top: 8rem;
        margin-bottom: 8rem
    }
    .my_8r\@md >* {
        margin-top: 8rem;
        margin-bottom: 8rem
    }
    .m_16r\@md >* {
        margin: 16rem
    }
    .mt_16r\@md >* {
        margin-top: 16rem
    }
    .mr_16r\@md >* {
        margin-right: 16rem
    }
    .mb_16r\@md >* {
        margin-bottom: 16rem
    }
    .ml_16r\@md >* {
        margin-left: 16rem
    }
    .mx_16r\@md >* {
        margin-right: 16rem;
        margin-left: 16rem
    }
    .my_16r\@md >* {
        margin-top: 16rem;
        margin-bottom: 16rem
    }
    .my_16r\@md >* {
        margin-top: 16rem;
        margin-bottom: 16rem
    }
}

@media screen and (min-width: 60rem)>* {
    .mr_a\@lg >* {
        margin-right: auto
    }
    .ml_a\@lg >* {
        margin-left: auto
    }
    .mx_a\@lg >* {
        margin-left: auto;
        margin-right: auto
    }
    .m_0\@lg >* {
        margin: 0
    }
    .mt_0\@lg >* {
        margin-top: 0
    }
    .mr_0\@lg >* {
        margin-right: 0
    }
    .mb_0\@lg >* {
        margin-bottom: 0
    }
    .ml_0\@lg >* {
        margin-left: 0
    }
    .mx_0\@lg >* {
        margin-right: 0;
        margin-left: 0
    }
    .my_0\@lg >* {
        margin-top: 0;
        margin-bottom: 0
    }
    .m_\.25r\@lg >* {
        margin: .25rem
    }
    .mt_\.25r\@lg >* {
        margin-top: .25rem
    }
    .mr_\.25r\@lg >* {
        margin-right: .25rem
    }
    .mb_\.25r\@lg >* {
        margin-bottom: .25rem
    }
    .ml_\.25r\@lg >* {
        margin-left: .25rem
    }
    .mx_\.25r\@lg >* {
        margin-right: .25rem;
        margin-left: .25rem
    }
    .my_\.25r\@lg >* {
        margin-top: .25rem;
        margin-bottom: .25rem
    }
    .m_\.5r\@lg >* {
        margin: .5rem
    }
    .mt_\.5r\@lg >* {
        margin-top: .5rem
    }
    .mr_\.5r\@lg >* {
        margin-right: .5rem
    }
    .mb_\.5r\@lg >* {
        margin-bottom: .5rem
    }
    .ml_\.5r\@lg >* {
        margin-left: .5rem
    }
    .mx_\.5r\@lg >* {
        margin-right: .5rem;
        margin-left: .5rem
    }
    .my_\.5r\@lg >* {
        margin-top: .5rem;
        margin-bottom: .5rem
    }
    .m_1r\@lg >* {
        margin: 1rem
    }
    .mt_1r\@lg >* {
        margin-top: 1rem
    }
    .mr_1r\@lg >* {
        margin-right: 1rem
    }
    .mb_1r\@lg >* {
        margin-bottom: 1rem
    }
    .ml_1r\@lg >* {
        margin-left: 1rem
    }
    .mx_1r\@lg >* {
        margin-right: 1rem;
        margin-left: 1rem
    }
    .my_1r\@lg >* {
        margin-top: 1rem;
        margin-bottom: 1rem
    }
    .m_2r\@lg >* {
        margin: 2rem
    }
    .mt_2r\@lg >* {
        margin-top: 2rem
    }
    .mr_2r\@lg >* {
        margin-right: 2rem
    }
    .mb_2r\@lg >* {
        margin-bottom: 2rem
    }
    .ml_2r\@lg >* {
        margin-left: 2rem
    }
    .mx_2r\@lg >* {
        margin-right: 2rem;
        margin-left: 2rem
    }
    .mx_2r\@lg >* {
        margin-top: 2rem;
        margin-bottom: 2rem
    }
    .m_4r\@lg >* {
        margin: 4rem
    }
    .mt_4r\@lg >* {
        margin-top: 4rem
    }
    .mr_4r\@lg >* {
        margin-right: 4rem
    }
    .mb_4r\@lg >* {
        margin-bottom: 4rem
    }
    .ml_4r\@lg >* {
        margin-left: 4rem
    }
    .mx_4r\@lg >* {
        margin-right: 4rem;
        margin-left: 4rem
    }
    .my_4r\@lg >* {
        margin-top: 4rem;
        margin-bottom: 4rem
    }
    .m_8r\@lg >* {
        margin: 8rem
    }
    .mt_8r\@lg >* {
        margin-top: 8rem
    }
    .mr_8r\@lg >* {
        margin-right: 8rem
    }
    .mb_8r\@lg >* {
        margin-bottom: 8rem
    }
    .ml_8r\@lg >* {
        margin-left: 8rem
    }
    .mx_8r\@lg >* {
        margin-right: 8rem;
        margin-left: 8rem
    }
    .my_8r\@lg >* {
        margin-top: 8rem;
        margin-bottom: 8rem
    }
    .my_8r\@lg >* {
        margin-top: 8rem;
        margin-bottom: 8rem
    }
    .m_16r\@lg >* {
        margin: 16rem
    }
    .mt_16r\@lg >* {
        margin-top: 16rem
    }
    .mr_16r\@lg >* {
        margin-right: 16rem
    }
    .mb_16r\@lg >* {
        margin-bottom: 16rem
    }
    .ml_16r\@lg >* {
        margin-left: 16rem
    }
    .mx_16r\@lg >* {
        margin-right: 16rem;
        margin-left: 16rem
    }
    .my_16r\@lg >* {
        margin-top: 16rem;
        margin-bottom: 16rem
    }
    .my_16r\@lg >* {
        margin-top: 16rem;
        margin-bottom: 16rem
    }
}

@media screen and (min-width: 80rem)>* {
    .mr_a\@xl >* {
        margin-right: auto
    }
    .ml_a\@xl >* {
        margin-left: auto
    }
    .mx_a\@xl >* {
        margin-left: auto;
        margin-right: auto
    }
    .m_0\@xl >* {
        margin: 0
    }
    .mt_0\@xl >* {
        margin-top: 0
    }
    .mr_0\@xl >* {
        margin-right: 0
    }
    .mb_0\@xl >* {
        margin-bottom: 0
    }
    .ml_0\@xl >* {
        margin-left: 0
    }
    .mx_0\@xl >* {
        margin-right: 0;
        margin-left: 0
    }
    .my_0\@xl >* {
        margin-top: 0;
        margin-bottom: 0
    }
    .m_\.25r\@xl >* {
        margin: .25rem
    }
    .mt_\.25r\@xl >* {
        margin-top: .25rem
    }
    .mr_\.25r\@xl >* {
        margin-right: .25rem
    }
    .mb_\.25r\@xl >* {
        margin-bottom: .25rem
    }
    .ml_\.25r\@xl >* {
        margin-left: .25rem
    }
    .mx_\.25r\@xl >* {
        margin-right: .25rem;
        margin-left: .25rem
    }
    .my_\.25r\@xl >* {
        margin-top: .25rem;
        margin-bottom: .25rem
    }
    .m_\.5r\@xl >* {
        margin: .5rem
    }
    .mt_\.5r\@xl >* {
        margin-top: .5rem
    }
    .mr_\.5r\@xl >* {
        margin-right: .5rem
    }
    .mb_\.5r\@xl >* {
        margin-bottom: .5rem
    }
    .ml_\.5r\@xl >* {
        margin-left: .5rem
    }
    .mx_\.5r\@xl >* {
        margin-right: .5rem;
        margin-left: .5rem
    }
    .my_\.5r\@xl >* {
        margin-top: .5rem;
        margin-bottom: .5rem
    }
    .m_1r\@xl >* {
        margin: 1rem
    }
    .mt_1r\@xl >* {
        margin-top: 1rem
    }
    .mr_1r\@xl >* {
        margin-right: 1rem
    }
    .mb_1r\@xl >* {
        margin-bottom: 1rem
    }
    .ml_1r\@xl >* {
        margin-left: 1rem
    }
    .mx_1r\@xl >* {
        margin-right: 1rem;
        margin-left: 1rem
    }
    .my_1r\@xl >* {
        margin-top: 1rem;
        margin-bottom: 1rem
    }
    .m_2r\@xl >* {
        margin: 2rem
    }
    .mt_2r\@xl >* {
        margin-top: 2rem
    }
    .mr_2r\@xl >* {
        margin-right: 2rem
    }
    .mb_2r\@xl >* {
        margin-bottom: 2rem
    }
    .ml_2r\@xl >* {
        margin-left: 2rem
    }
    .mx_2r\@xl >* {
        margin-right: 2rem;
        margin-left: 2rem
    }
    .mx_2r\@xl >* {
        margin-top: 2rem;
        margin-bottom: 2rem
    }
    .m_4r\@xl >* {
        margin: 4rem
    }
    .mt_4r\@xl >* {
        margin-top: 4rem
    }
    .mr_4r\@xl >* {
        margin-right: 4rem
    }
    .mb_4r\@xl >* {
        margin-bottom: 4rem
    }
    .ml_4r\@xl >* {
        margin-left: 4rem
    }
    .mx_4r\@xl >* {
        margin-right: 4rem;
        margin-left: 4rem
    }
    .my_4r\@xl >* {
        margin-top: 4rem;
        margin-bottom: 4rem
    }
    .m_8r\@xl >* {
        margin: 8rem
    }
    .mt_8r\@xl >* {
        margin-top: 8rem
    }
    .mr_8r\@xl >* {
        margin-right: 8rem
    }
    .mb_8r\@xl >* {
        margin-bottom: 8rem
    }
    .ml_8r\@xl >* {
        margin-left: 8rem
    }
    .mx_8r\@xl >* {
        margin-right: 8rem;
        margin-left: 8rem
    }
    .my_8r\@xl >* {
        margin-top: 8rem;
        margin-bottom: 8rem
    }
    .my_8r\@xl >* {
        margin-top: 8rem;
        margin-bottom: 8rem
    }
    .m_16r\@xl >* {
        margin: 16rem
    }
    .mt_16r\@xl >* {
        margin-top: 16rem
    }
    .mr_16r\@xl >* {
        margin-right: 16rem
    }
    .mb_16r\@xl >* {
        margin-bottom: 16rem
    }
    .ml_16r\@xl >* {
        margin-left: 16rem
    }
    .mx_16r\@xl >* {
        margin-right: 16rem;
        margin-left: 16rem
    }
    .my_16r\@xl >* {
        margin-top: 16rem;
        margin-bottom: 16rem
    }
    .my_16r\@xl >* {
        margin-top: 16rem;
        margin-bottom: 16rem
    }
}
