.o\:i\:h:hover {
  opacity: initial
}

.o\:xl\:h:hover {
  opacity: .875
}

.o\:l\:h:hover {
  opacity: .75
}

.o\:m\:h:hover {
  opacity: .5
}

.o\:s\:h:hover {
  opacity: .25
}

.o\:xs\:h:hover {
  opacity: .125
}

.o\:0\:h:hover {
  opacity: 0
}
