.o\:i\:h:hover {
    opacity: initial
}

.o\:\.9\:h:hover {
    opacity: .9
}

.o\:\.8\:h:hover {
    opacity: .8
}

.o\:\.7\:h:hover {
    opacity: .7
}

.o\:\.6\:h:hover {
    opacity: .6
}

.o\:\.5\:h:hover {
    opacity: .5
}

.o\:\.4\:h:hover {
    opacity: .4
}

.o\:\.3\:h:hover {
    opacity: .3
}

.o\:\.2\:h:hover {
    opacity: .2
}

.o\:\.1\:h:hover {
    opacity: .1
}

.o\:\.0\:h:hover {
    opacity: 0
}