.p\:0 {
  padding: 0
}

.pt\:0 {
  padding-top: 0
}

.pr\:0 {
  padding-right: 0
}

.pb\:0 {
  padding-bottom: 0
}

.pl\:0 {
  padding-left: 0
}

.p\:xs {
  padding: .25rem
}

.pt\:xs {
  padding-top: .25rem
}

.pr\:xs {
  padding-right: .25rem
}

.pb\:xs {
  padding-bottom: .25rem
}

.pl\:xs {
  padding-left: .25rem
}

.p\:s {
  padding: .5rem
}

.pt\:s {
  padding-top: .5rem
}

.pr\:s {
  padding-right: .5rem
}

.pb\:s {
  padding-bottom: .5rem
}

.pl\:s {
  padding-left: .5rem
}

.p\:m {
  padding: 1rem
}

.pt\:m {
  padding-top: 1rem
}

.pr\:m {
  padding-right: 1rem
}

.pb\:m {
  padding-bottom: 1rem
}

.pl\:m {
  padding-left: 1rem
}

.p\:l {
  padding: 2rem
}

.pt\:l {
  padding-top: 2rem
}

.pr\:l {
  padding-right: 2rem
}

.pb\:l {
  padding-bottom: 2rem
}

.pl\:l {
  padding-left: 2rem
}

.p\:xl {
  padding: 4rem
}

.pt\:xl {
  padding-top: 4rem
}

.pr\:xl {
  padding-right: 4rem
}

.pb\:xl {
  padding-bottom: 4rem
}

.pl\:xl {
  padding-left: 4rem
}

@media screen and (min-width: 40rem) {
  .p\:0\@M {
    padding: 0
  }
  .pt\:0\@M {
    padding-top: 0
  }
  .pr\:0\@M {
    padding-right: 0
  }
  .pb\:0\@M {
    padding-bottom: 0
  }
  .pl\:0\@M {
    padding-left: 0
  }
  .p\:xs\@M {
    padding: .25rem
  }
  .pt\:xs\@M {
    padding-top: .25rem
  }
  .pr\:xs\@M {
    padding-right: .25rem
  }
  .pb\:xs\@M {
    padding-bottom: .25rem
  }
  .pl\:xs\@M {
    padding-left: .25rem
  }
  .p\:s\@M {
    padding: .5rem
  }
  .pt\:s\@M {
    padding-top: .5rem
  }
  .pr\:s\@M {
    padding-right: .5rem
  }
  .pb\:s\@M {
    padding-bottom: .5rem
  }
  .pl\:s\@M {
    padding-left: .5rem
  }
  .p\:m\@M {
    padding: 1rem
  }
  .pt\:m\@M {
    padding-top: 1rem
  }
  .pr\:m\@M {
    padding-right: 1rem
  }
  .pb\:m\@M {
    padding-bottom: 1rem
  }
  .pl\:m\@M {
    padding-left: 1rem
  }
  .p\:l\@M {
    padding: 2rem
  }
  .pt\:l\@M {
    padding-top: 2rem
  }
  .pr\:l\@M {
    padding-right: 2rem
  }
  .pb\:l\@M {
    padding-bottom: 2rem
  }
  .pl\:l\@M {
    padding-left: 2rem
  }
  .p\:xl\@M {
    padding: 4rem
  }
  .pt\:xl\@M {
    padding-top: 4rem
  }
  .pr\:xl\@M {
    padding-right: 4rem
  }
  .pb\:xl\@M {
    padding-bottom: 4rem
  }
  .pl\:xl\@M {
    padding-left: 4rem
  }
}

@media screen and (min-width: 80rem) {
  .p\:0\@L {
    padding: 0
  }
  .pt\:0\@L {
    padding-top: 0
  }
  .pr\:0\@L {
    padding-right: 0
  }
  .pb\:0\@L {
    padding-bottom: 0
  }
  .pl\:0\@L {
    padding-left: 0
  }
  .p\:xs\@L {
    padding: .25rem
  }
  .pt\:xs\@L {
    padding-top: .25rem
  }
  .pr\:xs\@L {
    padding-right: .25rem
  }
  .pb\:xs\@L {
    padding-bottom: .25rem
  }
  .pl\:xs\@L {
    padding-left: .25rem
  }
  .p\:s\@L {
    padding: .5rem
  }
  .pt\:s\@L {
    padding-top: .5rem
  }
  .pr\:s\@L {
    padding-right: .5rem
  }
  .pb\:s\@L {
    padding-bottom: .5rem
  }
  .pl\:s\@L {
    padding-left: .5rem
  }
  .p\:m\@L {
    padding: 1rem
  }
  .pt\:m\@L {
    padding-top: 1rem
  }
  .pr\:m\@L {
    padding-right: 1rem
  }
  .pb\:m\@L {
    padding-bottom: 1rem
  }
  .pl\:m\@L {
    padding-left: 1rem
  }
  .p\:l\@L {
    padding: 2rem
  }
  .pt\:l\@L {
    padding-top: 2rem
  }
  .pr\:l\@L {
    padding-right: 2rem
  }
  .pb\:l\@L {
    padding-bottom: 2rem
  }
  .pl\:l\@L {
    padding-left: 2rem
  }
  .p\:xl\@L {
    padding: 4rem
  }
  .pt\:xl\@L {
    padding-top: 4rem
  }
  .pr\:xl\@L {
    padding-right: 4rem
  }
  .pb\:xl\@L {
    padding-bottom: 4rem
  }
  .pl\:xl\@L {
    padding-left: 4rem
  }
}

@media screen and (min-width: 120rem) {
  .p\:0\@XL {
    padding: 0
  }
  .pt\:0\@XL {
    padding-top: 0
  }
  .pr\:0\@XL {
    padding-right: 0
  }
  .pb\:0\@XL {
    padding-bottom: 0
  }
  .pl\:0\@XL {
    padding-left: 0
  }
  .p\:xs\@XL {
    padding: .25rem
  }
  .pt\:xs\@XL {
    padding-top: .25rem
  }
  .pr\:xs\@XL {
    padding-right: .25rem
  }
  .pb\:xs\@XL {
    padding-bottom: .25rem
  }
  .pl\:xs\@XL {
    padding-left: .25rem
  }
  .p\:s\@XL {
    padding: .5rem
  }
  .pt\:s\@XL {
    padding-top: .5rem
  }
  .pr\:s\@XL {
    padding-right: .5rem
  }
  .pb\:s\@XL {
    padding-bottom: .5rem
  }
  .pl\:s\@XL {
    padding-left: .5rem
  }
  .p\:m\@XL {
    padding: 1rem
  }
  .pt\:m\@XL {
    padding-top: 1rem
  }
  .pr\:m\@XL {
    padding-right: 1rem
  }
  .pb\:m\@XL {
    padding-bottom: 1rem
  }
  .pl\:m\@XL {
    padding-left: 1rem
  }
  .p\:l\@XL {
    padding: 2rem
  }
  .pt\:l\@XL {
    padding-top: 2rem
  }
  .pr\:l\@XL {
    padding-right: 2rem
  }
  .pb\:l\@XL {
    padding-bottom: 2rem
  }
  .pl\:l\@XL {
    padding-left: 2rem
  }
  .p\:xl\@XL {
    padding: 4rem
  }
  .pt\:xl\@XL {
    padding-top: 4rem
  }
  .pr\:xl\@XL {
    padding-right: 4rem
  }
  .pb\:xl\@XL {
    padding-bottom: 4rem
  }
  .pl\:xl\@XL {
    padding-left: 4rem
  }
}
