.p\:0 {
    padding: 0
}

.pt\:0 {
    padding-top: 0
}

.pr\:0 {
    padding-right: 0
}

.pb\:0 {
    padding-bottom: 0
}

.pl\:0 {
    padding-left: 0
}

.px\:0 {
    padding-right: 0;
    padding-left: 0
}

.py\:0 {
    padding-top: 0;
    padding-bottom: 0
}

.p\:\.25r {
    padding: .25rem
}

.pt\:\.25r {
    padding-top: .25rem
}

.pr\:\.25r {
    padding-right: .25rem
}

.pb\:\.25r {
    padding-bottom: .25rem
}

.pl\:\.25r {
    padding-left: .25rem
}

.px\:\.25r {
    padding-right: .25rem;
    padding-left: .25rem
}

.py\:\.25r {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.p\:\.5r {
    padding: .5rem
}

.pt\:\.5r {
    padding-top: .5rem
}

.pr\:\.5r {
    padding-right: .5rem
}

.pb\:\.5r {
    padding-bottom: .5rem
}

.pl\:\.5r {
    padding-left: .5rem
}

.px\:\.5r {
    padding-right: .5rem;
    padding-left: .5rem
}

.py\:\.5r {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.p\:1r {
    padding: 1rem
}

.pt\:1r {
    padding-top: 1rem
}

.pr\:1r {
    padding-right: 1rem
}

.pb\:1r {
    padding-bottom: 1rem
}

.pl\:1r {
    padding-left: 1rem
}

.px\:1r {
    padding-right: 1rem;
    padding-left: 1rem
}

.py\:1r {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.p\:2r {
    padding: 2rem
}

.pt\:2r {
    padding-top: 2rem
}

.pr\:2r {
    padding-right: 2rem
}

.pb\:2r {
    padding-bottom: 2rem
}

.pl\:2r {
    padding-left: 2rem
}

.px\:2r {
    padding-right: 2rem;
    padding-left: 2rem
}

.py\:2r {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.p\:4r {
    padding: 4rem
}

.pt\:4r {
    padding-top: 4rem
}

.pr\:4r {
    padding-right: 4rem
}

.pb\:4r {
    padding-bottom: 4rem
}

.pl\:4r {
    padding-left: 4rem
}

.px\:4r {
    padding-right: 4rem;
    padding-left: 4rem
}

.py\:4r {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.p\:8r {
    padding: 8rem
}

.pt\:8r {
    padding-top: 8rem
}

.pr\:8r {
    padding-right: 8rem
}

.pb\:8r {
    padding-bottom: 8rem
}

.pl\:8r {
    padding-left: 8rem
}

.px\:8r {
    padding-right: 8rem;
    padding-left: 8rem
}

.py\:8r {
    padding-top: 8rem;
    padding-bottom: 8rem
}

.py\:8r {
    padding-top: 8rem;
    padding-bottom: 8rem
}

.p\:16r {
    padding: 16rem
}

.pt\:16r {
    padding-top: 16rem
}

.pr\:16r {
    padding-right: 16rem
}

.pb\:16r {
    padding-bottom: 16rem
}

.pl\:16r {
    padding-left: 16rem
}

.px\:16r {
    padding-right: 16rem;
    padding-left: 16rem
}

.py\:16r {
    padding-top: 16rem;
    padding-bottom: 16rem
}

.py\:16r {
    padding-top: 16rem;
    padding-bottom: 16rem
}

@media screen and (min-width: 40rem) {
    .p\:0\@M {
        padding: 0
    }
    .pt\:0\@M {
        padding-top: 0
    }
    .pr\:0\@M {
        padding-right: 0
    }
    .pb\:0\@M {
        padding-bottom: 0
    }
    .pl\:0\@M {
        padding-left: 0
    }
    .px\:0\@M {
        padding-right: 0;
        padding-left: 0
    }
    .py\:0\@M {
        padding-top: 0;
        padding-bottom: 0
    }
    .p\:\.25r\@M {
        padding: .25rem
    }
    .pt\:\.25r\@M {
        padding-top: .25rem
    }
    .pr\:\.25r\@M {
        padding-right: .25rem
    }
    .pb\:\.25r\@M {
        padding-bottom: .25rem
    }
    .pl\:\.25r\@M {
        padding-left: .25rem
    }
    .px\:\.25r\@M {
        padding-right: .25rem;
        padding-left: .25rem
    }
    .py\:\.25r\@M {
        padding-top: .25rem;
        padding-bottom: .25rem
    }
    .p\:\.5r\@M {
        padding: .5rem
    }
    .pt\:\.5r\@M {
        padding-top: .5rem
    }
    .pr\:\.5r\@M {
        padding-right: .5rem
    }
    .pb\:\.5r\@M {
        padding-bottom: .5rem
    }
    .pl\:\.5r\@M {
        padding-left: .5rem
    }
    .px\:\.5r\@M {
        padding-right: .5rem;
        padding-left: .5rem
    }
    .py\:\.5r\@M {
        padding-top: .5rem;
        padding-bottom: .5rem
    }
    .p\:1r\@M {
        padding: 1rem
    }
    .pt\:1r\@M {
        padding-top: 1rem
    }
    .pr\:1r\@M {
        padding-right: 1rem
    }
    .pb\:1r\@M {
        padding-bottom: 1rem
    }
    .pl\:1r\@M {
        padding-left: 1rem
    }
    .px\:1r\@M {
        padding-right: 1rem;
        padding-left: 1rem
    }
    .py\:1r\@M {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
    .p\:2r\@M {
        padding: 2rem
    }
    .pt\:2r\@M {
        padding-top: 2rem
    }
    .pr\:2r\@M {
        padding-right: 2rem
    }
    .pb\:2r\@M {
        padding-bottom: 2rem
    }
    .pl\:2r\@M {
        padding-left: 2rem
    }
    .px\:2r\@M {
        padding-right: 2rem;
        padding-left: 2rem
    }
    .py\:2r\@M {
        padding-top: 2rem;
        padding-bottom: 2rem
    }
    .p\:4r\@M {
        padding: 4rem
    }
    .pt\:4r\@M {
        padding-top: 4rem
    }
    .pr\:4r\@M {
        padding-right: 4rem
    }
    .pb\:4r\@M {
        padding-bottom: 4rem
    }
    .pl\:4r\@M {
        padding-left: 4rem
    }
    .px\:4r\@M {
        padding-right: 4rem;
        padding-left: 4rem
    }
    .py\:4r\@M {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
    .p\:8r\@M {
        padding: 8rem
    }
    .pt\:8r\@M {
        padding-top: 8rem
    }
    .pr\:8r\@M {
        padding-right: 8rem
    }
    .pb\:8r\@M {
        padding-bottom: 8rem
    }
    .pl\:8r\@M {
        padding-left: 8rem
    }
    .px\:8r\@M {
        padding-right: 8rem;
        padding-left: 8rem
    }
    .py\:8r\@M {
        padding-top: 8rem;
        padding-bottom: 8rem
    }
    .py\:8r\@M {
        padding-top: 8rem;
        padding-bottom: 8rem
    }
    .p\:16r\@M {
        padding: 16rem
    }
    .pt\:16r\@M {
        padding-top: 16rem
    }
    .pr\:16r\@M {
        padding-right: 16rem
    }
    .pb\:16r\@M {
        padding-bottom: 16rem
    }
    .pl\:16r\@M {
        padding-left: 16rem
    }
    .px\:16r\@M {
        padding-right: 16rem;
        padding-left: 16rem
    }
    .py\:16r\@M {
        padding-top: 16rem;
        padding-bottom: 16rem
    }
    .py\:16r\@M {
        padding-top: 16rem;
        padding-bottom: 16rem
    }
}

@media screen and (min-width: 60rem) {
    .p\:0\@L {
        padding: 0
    }
    .pt\:0\@L {
        padding-top: 0
    }
    .pr\:0\@L {
        padding-right: 0
    }
    .pb\:0\@L {
        padding-bottom: 0
    }
    .pl\:0\@L {
        padding-left: 0
    }
    .px\:0\@L {
        padding-right: 0;
        padding-left: 0
    }
    .py\:0\@L {
        padding-top: 0;
        padding-bottom: 0
    }
    .p\:\.25r\@L {
        padding: .25rem
    }
    .pt\:\.25r\@L {
        padding-top: .25rem
    }
    .pr\:\.25r\@L {
        padding-right: .25rem
    }
    .pb\:\.25r\@L {
        padding-bottom: .25rem
    }
    .pl\:\.25r\@L {
        padding-left: .25rem
    }
    .px\:\.25r\@L {
        padding-right: .25rem;
        padding-left: .25rem
    }
    .py\:\.25r\@L {
        padding-top: .25rem;
        padding-bottom: .25rem
    }
    .p\:\.5r\@L {
        padding: .5rem
    }
    .pt\:\.5r\@L {
        padding-top: .5rem
    }
    .pr\:\.5r\@L {
        padding-right: .5rem
    }
    .pb\:\.5r\@L {
        padding-bottom: .5rem
    }
    .pl\:\.5r\@L {
        padding-left: .5rem
    }
    .px\:\.5r\@L {
        padding-right: .5rem;
        padding-left: .5rem
    }
    .py\:\.5r\@L {
        padding-top: .5rem;
        padding-bottom: .5rem
    }
    .p\:1r\@L {
        padding: 1rem
    }
    .pt\:1r\@L {
        padding-top: 1rem
    }
    .pr\:1r\@L {
        padding-right: 1rem
    }
    .pb\:1r\@L {
        padding-bottom: 1rem
    }
    .pl\:1r\@L {
        padding-left: 1rem
    }
    .px\:1r\@L {
        padding-right: 1rem;
        padding-left: 1rem
    }
    .py\:1r\@L {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
    .p\:2r\@L {
        padding: 2rem
    }
    .pt\:2r\@L {
        padding-top: 2rem
    }
    .pr\:2r\@L {
        padding-right: 2rem
    }
    .pb\:2r\@L {
        padding-bottom: 2rem
    }
    .pl\:2r\@L {
        padding-left: 2rem
    }
    .px\:2r\@L {
        padding-right: 2rem;
        padding-left: 2rem
    }
    .py\:2r\@L {
        padding-top: 2rem;
        padding-bottom: 2rem
    }
    .p\:4r\@L {
        padding: 4rem
    }
    .pt\:4r\@L {
        padding-top: 4rem
    }
    .pr\:4r\@L {
        padding-right: 4rem
    }
    .pb\:4r\@L {
        padding-bottom: 4rem
    }
    .pl\:4r\@L {
        padding-left: 4rem
    }
    .px\:4r\@L {
        padding-right: 4rem;
        padding-left: 4rem
    }
    .py\:4r\@L {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
    .p\:8r\@L {
        padding: 8rem
    }
    .pt\:8r\@L {
        padding-top: 8rem
    }
    .pr\:8r\@L {
        padding-right: 8rem
    }
    .pb\:8r\@L {
        padding-bottom: 8rem
    }
    .pl\:8r\@L {
        padding-left: 8rem
    }
    .px\:8r\@L {
        padding-right: 8rem;
        padding-left: 8rem
    }
    .py\:8r\@L {
        padding-top: 8rem;
        padding-bottom: 8rem
    }
    .py\:8r\@L {
        padding-top: 8rem;
        padding-bottom: 8rem
    }
    .p\:16r\@L {
        padding: 16rem
    }
    .pt\:16r\@L {
        padding-top: 16rem
    }
    .pr\:16r\@L {
        padding-right: 16rem
    }
    .pb\:16r\@L {
        padding-bottom: 16rem
    }
    .pl\:16r\@L {
        padding-left: 16rem
    }
    .px\:16r\@L {
        padding-right: 16rem;
        padding-left: 16rem
    }
    .py\:16r\@L {
        padding-top: 16rem;
        padding-bottom: 16rem
    }
    .py\:16r\@L {
        padding-top: 16rem;
        padding-bottom: 16rem
    }
}

@media screen and (min-width: 80rem) {
    .p\:0\@XL {
        padding: 0
    }
    .pt\:0\@XL {
        padding-top: 0
    }
    .pr\:0\@XL {
        padding-right: 0
    }
    .pb\:0\@XL {
        padding-bottom: 0
    }
    .pl\:0\@XL {
        padding-left: 0
    }
    .px\:0\@XL {
        padding-right: 0;
        padding-left: 0
    }
    .py\:0\@XL {
        padding-top: 0;
        padding-bottom: 0
    }
    .p\:\.25r\@XL {
        padding: .25rem
    }
    .pt\:\.25r\@XL {
        padding-top: .25rem
    }
    .pr\:\.25r\@XL {
        padding-right: .25rem
    }
    .pb\:\.25r\@XL {
        padding-bottom: .25rem
    }
    .pl\:\.25r\@XL {
        padding-left: .25rem
    }
    .px\:\.25r\@XL {
        padding-right: .25rem;
        padding-left: .25rem
    }
    .py\:\.25r\@XL {
        padding-top: .25rem;
        padding-bottom: .25rem
    }
    .p\:\.5r\@XL {
        padding: .5rem
    }
    .pt\:\.5r\@XL {
        padding-top: .5rem
    }
    .pr\:\.5r\@XL {
        padding-right: .5rem
    }
    .pb\:\.5r\@XL {
        padding-bottom: .5rem
    }
    .pl\:\.5r\@XL {
        padding-left: .5rem
    }
    .px\:\.5r\@XL {
        padding-right: .5rem;
        padding-left: .5rem
    }
    .py\:\.5r\@XL {
        padding-top: .5rem;
        padding-bottom: .5rem
    }
    .p\:1r\@XL {
        padding: 1rem
    }
    .pt\:1r\@XL {
        padding-top: 1rem
    }
    .pr\:1r\@XL {
        padding-right: 1rem
    }
    .pb\:1r\@XL {
        padding-bottom: 1rem
    }
    .pl\:1r\@XL {
        padding-left: 1rem
    }
    .px\:1r\@XL {
        padding-right: 1rem;
        padding-left: 1rem
    }
    .py\:1r\@XL {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
    .p\:2r\@XL {
        padding: 2rem
    }
    .pt\:2r\@XL {
        padding-top: 2rem
    }
    .pr\:2r\@XL {
        padding-right: 2rem
    }
    .pb\:2r\@XL {
        padding-bottom: 2rem
    }
    .pl\:2r\@XL {
        padding-left: 2rem
    }
    .px\:2r\@XL {
        padding-right: 2rem;
        padding-left: 2rem
    }
    .py\:2r\@XL {
        padding-top: 2rem;
        padding-bottom: 2rem
    }
    .p\:4r\@XL {
        padding: 4rem
    }
    .pt\:4r\@XL {
        padding-top: 4rem
    }
    .pr\:4r\@XL {
        padding-right: 4rem
    }
    .pb\:4r\@XL {
        padding-bottom: 4rem
    }
    .pl\:4r\@XL {
        padding-left: 4rem
    }
    .px\:4r\@XL {
        padding-right: 4rem;
        padding-left: 4rem
    }
    .py\:4r\@XL {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
    .p\:8r\@XL {
        padding: 8rem
    }
    .pt\:8r\@XL {
        padding-top: 8rem
    }
    .pr\:8r\@XL {
        padding-right: 8rem
    }
    .pb\:8r\@XL {
        padding-bottom: 8rem
    }
    .pl\:8r\@XL {
        padding-left: 8rem
    }
    .px\:8r\@XL {
        padding-right: 8rem;
        padding-left: 8rem
    }
    .py\:8r\@XL {
        padding-top: 8rem;
        padding-bottom: 8rem
    }
    .py\:8r\@XL {
        padding-top: 8rem;
        padding-bottom: 8rem
    }
    .p\:16r\@XL {
        padding: 16rem
    }
    .pt\:16r\@XL {
        padding-top: 16rem
    }
    .pr\:16r\@XL {
        padding-right: 16rem
    }
    .pb\:16r\@XL {
        padding-bottom: 16rem
    }
    .pl\:16r\@XL {
        padding-left: 16rem
    }
    .px\:16r\@XL {
        padding-right: 16rem;
        padding-left: 16rem
    }
    .py\:16r\@XL {
        padding-top: 16rem;
        padding-bottom: 16rem
    }
    .py\:16r\@XL {
        padding-top: 16rem;
        padding-bottom: 16rem
    }
}
