.p\:i {
  position: initial
}

.p\:st {
  position: sticky
}

.p\:r {
  position: relative
}

.p\:a {
  position: absolute
}

.p\:f {
  position: fixed
}

@media screen and (min-width: 40rem) {
  .p\:i\@M {
    position: initial
  }
  .p\:st\@M {
    position: sticky
  }
  .p\:r\@M {
    position: relative
  }
  .p\:a\@M {
    position: absolute
  }
  .p\:f\@M {
    position: fixed
  }
}

@media screen and (min-width: 80rem) {
  .p\:i\@L {
    position: initial
  }
  .p\:st\@L {
    position: sticky
  }
  .p\:r\@L {
    position: relative
  }
  .p\:a\@L {
    position: absolute
  }
  .p\:f\@L {
    position: fixed
  }
}

@media screen and (min-width: 120rem) {
  .p\:i\@XL {
    position: initial
  }
  .p\:st\@XL {
    position: sticky
  }
  .p\:r\@XL {
    position: relative
  }
  .p\:a\@XL {
    position: absolute
  }
  .p\:f\@XL {
    position: fixed
  }
}