.p\:s {
    position: static
}

.p\:r {
    position: relative
}

.p\:a {
    position: absolute
}

.p\:f {
    position: fixed
}

@media screen and (min-width: 40rem) {
    .p\:s\@md {
        position: static
    }
    .p\:r\@md {
        position: relative
    }
    .p\:a\@md {
        position: absolute
    }
    .p\:f\@md {
        position: fixed
    }
}

@media screen and (min-width: 60rem) {
    .p\:s\@lg {
        position: static
    }
    .p\:r\@lg {
        position: relative
    }
    .p\:a\@lg {
        position: absolute
    }
    .p\:f\@lg {
        position: fixed
    }
}

@media screen and (min-width: 80rem) {
    .p\:s\@xl {
        position: static
    }
    .p\:r\@xl {
        position: relative
    }
    .p\:a\@xl {
        position: absolute
    }
    .p\:f\@xl {
        position: fixed
    }
}
