.r\:-4r {
    right: -4rem
}

.r\:-2r {
    right: -2rem
}

.r\:-1r {
    right: -1rem
}

.r\:-\.5r {
    right: -.5rem
}

.r\:-\.25r {
    right: -.25rem
}

.r\:0 {
    right: 0
}

.r\:\.25r {
    right: .25rem
}

.r\:\.5r {
    right: .5rem
}

.r\:1r {
    right: 1rem
}

.r\:2r {
    right: 2rem
}

.r\:4r {
    right: 4rem
}
