.r\:-xl {
  right: -8rem
}

.r\:-l {
  right: -4rem
}

.r\:-m {
  right: -2rem
}

.r\:-s {
  right: -1rem
}

.r\:-xs {
  right: -.5rem
}

.r\:0 {
  right: 0
}

.r\:xs {
  right: .5rem
}

.r\:s {
  right: 1rem
}

.r\:m {
  right: 2rem
}

.r\:l {
  right: 4rem
}

.r\:xl {
  right: 8rem
}
