.ta\:c {
  text-align: center
}

.ta\:j {
  text-align: justify
}

.ta\:l {
  text-align: left
}

.ta\:r {
  text-align: right
}

@media screen and (min-width: 40rem) {
  .ta\:c\@M {
    text-align: center
  }
  .ta\:j\@M {
    text-align: justify
  }
  .ta\:l\@M {
    text-align: left
  }
  .ta\:r\@M {
    text-align: right
  }
}

@media screen and (min-width: 60rem) {
  .ta\:c\@L {
    text-align: center
  }
  .ta\:j\@L {
    text-align: justify
  }
  .ta\:l\@L {
    text-align: left
  }
  .ta\:r\@L {
    text-align: right
  }
}

@media screen and (min-width: 80rem) {
  .ta\:c\@XL {
    text-align: center
  }
  .ta\:j\@XL {
    text-align: justify
  }
  .ta\:l\@XL {
    text-align: left
  }
  .ta\:r\@XL {
    text-align: right
  }
}
