.t\:-xl {
  top: -8rem
}

.t\:-l {
  top: -4rem
}

.t\:-m {
  top: -2rem
}

.t\:-s {
  top: -1rem
}

.t\:-xs {
  top: -.5rem
}

.t\:0 {
  top: 0
}

.t\:xs {
  top: .5rem
}

.t\:s {
  top: 1rem
}

.t\:m {
  top: 2rem
}

.t\:l {
  top: 4rem
}

.t\:xl {
  top: 8rem
}
