.t\:-4r {
    top: -4rem
}

.t\:-2r {
    top: -2rem
}

.t\:-1r {
    top: -1rem
}

.t\:-\.5r {
    top: -.5rem
}

.t\:-\.25r {
    top: -.25rem
}

.t\:0 {
    top: 0
}

.t\:\.25r {
    top: .25rem
}

.t\:\.5r {
    top: .5rem
}

.t\:1r {
    top: 1rem
}

.t\:2r {
    top: 2rem
}

.t\:4r {
    top: 4rem
}
