.va\:i {
  vertical-align: baseline
}

.va\:t {
  vertical-align: top
}

.va\:m {
  vertical-align: middle
}

.va\:b {
  vertical-align: bottom
}

.va\:super {
  vertical-align: super
}

.va\:sub {
  vertical-align: sub
}
