.w\:a {
  width: auto
}

.w\:0 {
  width: 0
}

.w\:xs {
  width: 1rem
}

.w\:s {
  width: 2rem
}

.w\:m {
  width: 4rem
}

.w\:l {
  width: 8rem
}

.w\:xl {
  width: 16rem
}

.w\:20\% {
  width: 20%
}

.w\:25\% {
  width: 25%
}

.w\:33\% {
  width: calc(1/3 * 100%)
}

.w\:40\% {
  width: 40%
}

.w\:50\% {
  width: 50%
}

.w\:60\% {
  width: 60%
}

.w\:66\% {
  width: calc(2/3 * 100%)
}

.w\:75\% {
  width: 75%
}

.w\:80\% {
  width: 80%
}

.w\:100\% {
  width: 100%
}

.w\:25vw {
  width: 25vw
}

.w\:33vw {
  width: calc(1/3 * 100vw)
}

.w\:50vw {
  width: 50vw
}

.w\:66vw {
  width: calc(2/3 * 100vw)
}

.w\:75vw {
  width: 75vw
}

.w\:100vw {
  width: 100vw
}

@media screen and (min-width: 40rem) {
  .w\:a\@M {
    width: auto
  }
  .w\:0\@M {
    width: 0
  }
  .w\:xs\@M {
    width: 1rem
  }
  .w\:s\@M {
    width: 2rem
  }
  .w\:m\@M {
    width: 4rem
  }
  .w\:l\@M {
    width: 8rem
  }
  .w\:xl\@M {
    width: 16rem
  }
  .w\:20\%\@M {
    width: 20%
  }
  .w\:25\%\@M {
    width: 25%
  }
  .w\:33\%\@M {
    width: calc(1/3 * 100%)
  }
  .w\:40\%\@M {
    width: 40%
  }
  .w\:50\%\@M {
    width: 50%
  }
  .w\:60\%\@M {
    width: 60%
  }
  .w\:66\%\@M {
    width: calc(2/3 * 100%)
  }
  .w\:75\%\@M {
    width: 75%
  }
  .w\:80\%\@M {
    width: 80%
  }
  .w\:100\%\@M {
    width: 100%
  }
  .w\:25vw\@M {
    width: 25vw
  }
  .w\:33vw\@M {
    width: calc(1/3 * 100vw)
  }
  .w\:50vw\@M {
    width: 50vw
  }
  .w\:66vw\@M {
    width: calc(2/3 * 100vw)
  }
  .w\:75vw\@M {
    width: 75vw
  }
  .w\:100vw\@M {
    width: 100vw
  }
}

@media screen and (min-width: 80rem) {
  .w\:a\@L {
    width: auto
  }
  .w\:0\@L {
    width: 0
  }
  .w\:xs\@L {
    width: 1rem
  }
  .w\:s\@L {
    width: 2rem
  }
  .w\:m\@L {
    width: 4rem
  }
  .w\:l\@L {
    width: 8rem
  }
  .w\:xl\@L {
    width: 16rem
  }
  .w\:20\%\@L {
    width: 20%
  }
  .w\:25\%\@L {
    width: 25%
  }
  .w\:33\%\@L {
    width: calc(1/3 * 100%)
  }
  .w\:40\%\@L {
    width: 40%
  }
  .w\:50\%\@L {
    width: 50%
  }
  .w\:60\%\@L {
    width: 60%
  }
  .w\:66\%\@L {
    width: calc(2/3 * 100%)
  }
  .w\:75\%\@L {
    width: 75%
  }
  .w\:80\%\@L {
    width: 80%
  }
  .w\:100\%\@L {
    width: 100%
  }
  .w\:25vw\@L {
    width: 25vw
  }
  .w\:33vw\@L {
    width: calc(1/3 * 100vw)
  }
  .w\:50vw\@L {
    width: 50vw
  }
  .w\:66vw\@L {
    width: calc(2/3 * 100vw)
  }
  .w\:75vw\@L {
    width: 75vw
  }
  .w\:100vw\@L {
    width: 100vw
  }
}

@media screen and (min-width: 120rem) {
  .w\:a\@XL {
    width: auto
  }
  .w\:0\@XL {
    width: 0
  }
  .w\:xs\@XL {
    width: 1rem
  }
  .w\:s\@XL {
    width: 2rem
  }
  .w\:m\@XL {
    width: 4rem
  }
  .w\:l\@XL {
    width: 8rem
  }
  .w\:xl\@XL {
    width: 16rem
  }
  .w\:20\%\@XL {
    width: 20%
  }
  .w\:25\%\@XL {
    width: 25%
  }
  .w\:33\%\@XL {
    width: calc(1/3 * 100%)
  }
  .w\:40\%\@XL {
    width: 40%
  }
  .w\:50\%\@XL {
    width: 50%
  }
  .w\:60\%\@XL {
    width: 60%
  }
  .w\:66\%\@XL {
    width: calc(2/3 * 100%)
  }
  .w\:75\%\@XL {
    width: 75%
  }
  .w\:80\%\@XL {
    width: 80%
  }
  .w\:100\%\@XL {
    width: 100%
  }
  .w\:25vw\@XL {
    width: 25vw
  }
  .w\:33vw\@XL {
    width: calc(1/3 * 100vw)
  }
  .w\:50vw\@XL {
    width: 50vw
  }
  .w\:66vw\@XL {
    width: calc(2/3 * 100vw)
  }
  .w\:75vw\@XL {
    width: 75vw
  }
  .w\:100vw\@XL {
    width: 100vw
  }
}