.zi\:1 {
    z-index: 1
}

.zi\:2 {
    z-index: 2
}

.zi\:3 {
    z-index: 3
}

.zi\:4 {
    z-index: 4
}

.zi\:5 {
    z-index: 5
}

.zi\:6 {
    z-index: 6
}

.zi\:7 {
    z-index: 7
}

.zi\:8 {
    z-index: 8
}

.zi\:9 {
    z-index: 9
}
