.zi\:\-40 {
  z-index: -40
}

.zi\:\-30 {
  z-index: -30
}

.zi\:\-20 {
  z-index: -20
}

.zi\:\-10 {
  z-index: -10
}

.zi\:10 {
  z-index: 10
}

.zi\:20 {
  z-index: 20
}

.zi\:30 {
  z-index: 30
}

.zi\:40 {
  z-index: 40
}
